@charset "utf-8";

/* 禁用iPhone中Safari的字号自动调整,如横屏时会重新计算 */
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
input{
	border: none;
	outline-style: none;
}
body{font-family:"PingFang SC","-apple-system", Helvetica Neue, Helvetica,'hiraginosansgb w3',SimHei,Arial,sans-serif;}
/* 去除iPhone中默认的input样式 */
input[type="submit"], input[type="reset"], input[type="button"], input {
	-webkit-appearance: none;
	resize: none;
}

/* 取消链接高亮  */
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 设置HTML5元素为块 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

/* 图片自适应 */
img {
	width: 100%;
	display: block;
	height: auto;
	width: auto\9; /* ie8 */
	-ms-interpolation-mode: bicubic;/*为了照顾ie图片缩放失真*/
	border: none;
}

/* 初始化 */
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	margin: 0;
	padding: 0;
	border: none;
}
input:focus{
	outline: none;
	outline-style: none;
}
input{
	font-family: Arial;
}
body {
	font: 14px 'Microsoft YaHei', Tahoma, Arial, sans-serif;
	color: #666666;
	background-color: #f6f6f6;
	max-width: 750px;
	margin: 0 auto;
}
em, i {
	font-style: normal;
}
.clearfix:after {
	content: "";
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}
.clearfix {
	zoom: 1;
}
a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	text-decoration: none;
}
ul, ol {
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
.fl{float: left}.fr{float: right}
button:focus{
	outline: none;
}
.font-arial{
	font-family: Arial;
}
.btn-big{
	display: block;
	width: 17.25rem;
	height: 2.25rem;
	background-color: #fe5a5b;
	color: #fff;
	font-size: 0.75rem;
	text-align: center;
	line-height: 2.25rem;
	border-radius: 0.2rem;
	margin: 0 auto;
}
/*.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.slideInDown{-webkit-animation-name:slideInDown;animation-name:slideInDown}
@keyframes slideInDown{
    0%{opacity:0;-webkit-transform:translateY(-2000px);-ms-transform:translateY(-2000px);transform:translateY(-2000px)}
    100%{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}}*/
.layer {
	background-color: rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
	position: fixed;
	top: 2rem;
	left: 0;
	overflow: auto;
	z-index: 99;
}
.grid-list {
	padding: 0 0.75rem;
	height: auto;
	box-sizing: border-box;
	width: 100%;
	background-color: #fff;
}
.bottom-border {
	border-bottom: solid 1px #eeeeee;
}
.heigth-80 {
	height: 2rem !important;
}
.grid-list li span{
	line-height: 2rem;
	font-size: 0.75rem;
}


/*交易密码*/
.pause p span{
	color: #fb5c5f;
	float: right;
	display: block;
}
.pure-form .btn-orange{
	width: 100%;
	margin: 0;
}
.pure-form{
	/*display: none;*/
	background-color: #f6f6f6;
	width: 100%;
	top: 0;
	height: 100%;
	z-index: 999;
}
ul, li{margin: 0; padding: 0;}
.pure-form .pwd-area ul { width: 100%;margin: 3em auto; text-align: center;}
.pure-form .pwd-area li {list-style-type: none; display: inline-block; width: 2.5rem; height: 2.5rem; border: 1px solid #666; border-right: none; line-height: 2.5em; vertical-align: top;outline: none; background-color: #fff;}
.pure-form .pwd-area li i {display: block; border-radius: 5px; width: 0px; height: 0px; border: 5px solid #000; margin: 1rem auto; visibility: visible;}
.pure-form .pwd-area li i {display: none;}
.pwd-area input {display: block; border: none; outline: none; opacity: 0; margin: -2.5em 0 2.5em -9999px;}
.pure-form input::-webkit-outer-spin-button,
.pure-form input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
.pure-form body{
	background-color: #f6f6f6;
}
.pure-form .section {
	padding: 5%;
	overflow: hidden;
	color: #555;
}
.pure-form .btn-next {
	background-color:#fe7e01;
	color: #fff;
	border-radius: 4px;
	padding: .7em 1em;
}


.pure-form  .set-title{
	text-align: center;
	width: 100%;
	margin: 3em auto;
	font-size: 1em;
}
.pure-form .pwd-area .first{
	border-radius: 0.2rem 0 0 0.2rem ;
}
.pure-form .pwd-area .last{
	border-radius:0 0.2rem 0.2rem 0 ;
}
.pure-form .set-title{
	font-size: 0.7rem;
	color: #666;
	margin-top: 5.25rem;
	margin-bottom: 1rem;
}
.pure-form .pwd-area li {
	border: 1px solid #666;
	border-right: none;
}
.pwd-area li.last {
	border-right: 1px solid #666;
}
.pure-form .pwd-area-set ul{margin-top: 0;}
.pure-form .pwd-area{position: relative;}
.pure-form .pwd-area .forget{
	position: absolute;
	font-size: 0.55rem;
	color: #148ce6;
	right: 0.8rem;
	top: 3rem;
}

/*小弹框*/
.tankuang{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.54);
	left: 0;
	top:0;
}
.tankuang .content-main{
	width: 12.25rem;
	margin: 9.5rem auto;
}
.tankuang .content-main div p{
	/* height: 2.6rem; */
	text-align: center;
	background-color: #fff;
	font-size: 0.7rem;
	color: #000;
	line-height: 2.6rem;
	border-radius: 0.3rem;
	opacity: 0.8;
}
.tankuang .content-main .closs{
	height: 2rem;
	color: #1474fb;
	text-align: center;
	line-height: 2rem;
	border-radius: 0.3rem;
	background-color: #fff;
	margin-top: 3px;
	opacity: 0.8;
	font-size: 0.65rem;
}

/*弹框1*/
.Bomb-box{z-index: 10000;display: none;  position: fixed;  width: 100%;  height: 100%;  background-color: rgba(0,0,0,0.7);  top: 0;  left: 0;  }
.Bomb-box .Bomb-box-main{  width: 15rem; /*       height: 11rem;*/  background-color: #fff;  margin: 6rem auto 0;  border-radius: 0.3rem;  }
.Bomb-box .Bomb-box-tips{  text-align: center;  color: #333;  font-size: 0.75rem;  height: 2.5rem;  line-height: 2.5rem;  }
.Bomb-box .Bomb-box-content{  padding-left: 1.5rem;  padding-right: 1.5rem;  margin-bottom: 0.75rem;  }
.Bomb-box .Bomb-box-content p{  line-height: 1rem;  }
.Bomb-box .Bomb-box-ok{  display: block;  width: 13.5rem;  height: 2.5rem;  line-height: 2.5rem;  text-align: center;  color: #0070fa;  font-size: 0.75rem;  border-top: solid 1px #eeeeee;  margin: 0 auto;  }
.Bomb-box .no-tips{font-size: 0.7rem;padding: 1.7rem 1.5rem 1.15rem 1.5rem;text-align: center;line-height: 1.5;}
.Bomb-box .text-center{text-align: center;}