@charset "utf-8";
.blue{
    color: #0757b2 !important;
}
.content1 .tab1{
    background: #fff;
}
.content1 .tab1 li {
    font-size: .7rem;
    float: left;
    /* width: 25%; */
    text-align: center;
    padding: 12px 0;
    border-bottom: 2px solid transparent;
    color: #000;
}
.content1 .tab1 li:nth-of-type(1),.content1 .tab1 li:nth-of-type(3){
    width: 33.3%;
}
.content1 .tab1 li:nth-of-type(2){
    width: 33.4%;
}
.content1 .tab1 li a {
    font-size: .75rem;
}

.content1 .tab1 li.active {
    border-bottom-color: #ffadae;
    color: #fb5c5f;
}
.top_titles{
    padding: .5rem .75rem .3rem .75rem;
    font-size: 0;
}
.top_titles a{
    display: inline-block;
    color: #666666;
    background-color: #ebebeb;
    border-radius: .5rem;
    font-size: .6rem;
    padding: .125rem .375rem;
    vertical-align: middle;
    margin-right: .2rem;
    margin-bottom: .2rem;
}
.btn-active{
    background: #ffefef !important;
    color: #fb5c5f !important;
}
.group1{
    padding-left: .75rem;
    background-color: #fff;
}
.group1_content{
    border-bottom: #eeeeee 1px solid;
}
.group1_content h2{
    padding-top: .25rem;
    padding-right: .75rem;
    line-height: 2rem;
    font-size: .8rem;
    color: #000;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
.group1_content p{
    font-size: .7rem;
    line-height: .7rem;
    padding-bottom:.5rem ;
}
.group1_content .group1_tip{
    height: .75rem;
    line-height: .75rem;
    padding-bottom: 1rem;
    font-size: 0;
}
.group1_content .group1_tip span{
    vertical-align: middle;
    font-size: .6rem;
}
.group1_content .group1_tip .tags{
    display: inline-block;
    height: .75rem ;
    line-height: .75rem;
    padding: 0 .375rem;
    background-color: #ffefef;
    color: #fb5c5f;
    border-radius: 2px;
    margin-right: .5rem;
}
.creativecamp_container{
    padding: 0 .75rem;
    background: #fff;
}
.group2{

    text-align: left;
    font-size: 0;
    box-shadow: 0px 12px 8px -8px #eee;
    border-radius: 3px;
}
.group2 h2{
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: .75rem;
    color: #000;
    overflow: hidden;
}
.group2 h2 a{
    font-size: .65rem;
    color: #666;
}
.group2 .group2_content{
    border-radius: .15rem .15rem 0 0;
}
.group2 .group2_content img{
    width: 100%;
}
.group2 .group2_content p{
    line-height: 2.25rem;
    padding:0 .75rem;
    font-size: .75rem;
    color: #000;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
.for_question{
    background: #fff;
    padding-left: .75rem;
}
.group3{
    padding:1rem .75rem .5rem 0;
    overflow: hidden;
    border-bottom: #eee 1px solid;
}
.group3_content_l{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: .75rem;
}
.group3_content_l img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
.group3_content_r{
    width: 14.5rem;

}
.group3_content_r .user{
    overflow: hidden;
    padding-bottom: .3rem;
}
.group3_content_r .user p{
    font-size: 0;
}
.group3_content_r .user p span{
    vertical-align: middle;
}
.group3_content_r .user p span:nth-of-type(1){
    font-size: .65rem;
    color: #000;
    margin-right: .375rem;
}
.group3_content_r .user p span:nth-of-type(2){
    font-size: .65rem;
}
.group3_content_r .user i{
    width: .5rem;
    height: .5rem;
    background: url(../../img/wezhan/cha.jpg) no-repeat;
    background-size: 100% 100%;
    margin-top: .2rem;
}
.group3_content_r .user_q{
    font-size: .7rem;
    color: #000;
    line-height: 1.25rem;
    font-weight: bold;
    word-wrap: break-word;
    word-break: normal;
}
.group3_content_r .user_a{
    font-size: .7rem;
    color: #000;
    line-height: 1rem;
    padding-bottom: .5rem;
    word-wrap: break-word;
    word-break: normal;
}
.content_r_footer {
    /* overflow: hidden; */
    height: .75rem;
    line-height: .75rem;
    /*margin-bottom: 0.65rem;*/
}
.not_like{
    display: inline-block;
    width: .75rem;
    height: .75rem;
    background: url(../../img/wezhan/zan.png) no-repeat;
    background-size: 100% 100%;
}
.is_like{
    display: inline-block;
    width: .75rem;
    height: .75rem;
    background: url(../../img/wezhan/zan2.png) no-repeat;
    background-size: 100% 100%;
}
.i_ask{
    position: fixed;
    right: .75rem;
    bottom: 7rem;
    display: block;
    width:3rem;
    height:3rem;
    line-height: 1.1;
    text-align: center;
    color: #000;
    font-size: .75rem;
    background:#fff;
    box-shadow:0px 4px 16px 0px rgba(0, 0, 0, 0.08);
    border-radius:50%;
    z-index: 200;
}
.i_ask span:nth-of-type(1){
    display: inline-block;
    padding-top: .75rem;
}
.show_more{
    display: none;
    height: 2rem;
    background-color: #fff;
    line-height: 2rem;
    text-align: center;
}

