body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0
}

body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

body {
    font: 14px 'Microsoft YaHei', Tahoma, Arial, sans-serif;
    margin: 0 auto;
    background-color: #ebebeb;
    max-width: 640px;
    min-width: 120px;
    height: 100%;
}

html {
    color: #999999;
    background: #f6f6f6;
    overflow-y: scroll;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%
}

h3,
h4,
h5,
h6 {
    font-weight: normal
}

ul,
ol {
    list-style: none
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="tel"],
textarea {
    border: none;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255,0,0,0);
    line-height: 20px;
    font-size: 14px;
    height: 20px;
    /* padding-top: 5px; */
    padding-bottom: 5px;
    padding-left: 5px;
    color: #999999
}

input[type="checkbox"]{

}

textarea {
    padding-bottom: 5px
}

a{
    color: #148ce6;
    text-decoration: none;
}

.button-background{
    background-color: #cccccc;
    border: none;
    color: #ffffff;
    border-radius: 4px;
    font-size: 24px;
    text-align: center;
}

.button-orange{
    background-image: url("../images/common/button_orange.png");
    border: none;
    color: #ffffff;
    border-radius: 4px;
    font-size: 24px;
    text-align: center;
}

.button-loading{
    background-image: url("../images/common/button_grey.png");
    border: none;
    color: #ffffff;
    border-radius: 4px;
    font-size: 24px;
    text-align: center;
}

.button-grey{
    background-image: url("../images/common/button_grey.png");
    border: 1px #cccccc solid;
    border-radius: 4px;
    color: #999999;
    text-align: center;
}

.button-yellow{
    background-image: url("../images/common/button_yellow.png");
    border: none;
    color: #ffffff;
    border-radius: 4px;
    font-size: 20px;
}

.background-orange{
    background-color: #ff8203;
}

.background-navyblue{
    background-color: #021732;
}
.background-navyblue-image{
    background-image: url("../images/backgorund_bluenavy.png");
}
.background-white{
    background-color: #ffffff;
}

.background-grep{
    background-color: #cccccc;
}

.f-orange{
    color: #ff8203;
}

.f-brown{
    color: #844502;
}

.f-white{
    color: #ffffff;
}

.f-red{
    color: #ff1d04;
}

.f-blue{
    color: #2d6590;
}

.f-black{
    color: #333333;
}
.f9{
    font-size: 9px;
}
.f11{
    font-size: 11px;
}

.f12{
    font-size: 12px;
}

.f16{
    font-size: 16px;
}

.f18{
    font-size: 18px;
}

.f20{
    font-size: 20px;
}

.f24{
    font-size: 24px;
}

.f30{
    font-size: 30px;
    font-weight: bold;
}

.f40{
    font-size: 40px;
    font-weight: bold;
}

.left{
    width: 130px;text-align: left;
}

.right{
    width: 130px;text-align: right;
}

.left1{
    width: 150px;text-align: left;
}

.right1{
    width: 150px;text-align: right;
}

.left2{
    width: 70%;text-align: left;
}

.right2{
    width: 20%;text-align: right;
}

.top-bar{
    background-color: #323232;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    display:none;
}

.card-list{
    width: 100%;
    background-color: #ffffff;
    border-top: 1px #cccccc solid;
    border-bottom: 1px #cccccc solid;
    height: 60px;

    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.card-list1{
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px #cccccc solid;
    height: 60px;

    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.card-list2{
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px #cccccc solid;
    height: 60px;

    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.card-list3{
    width: 100%;
    background-color: #D5D5D5;
    border-bottom: 1px #cccccc solid;
    height: 60px;

    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}


.button-area{
    width: 100%;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.dialog-area{
    width: 100%;
    display:-webkit-box;
    -webkit-box-align:center;
}

.button-width-big{
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 100%;
}

.button-width-middle{
    width: 95%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.button-width-small{
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:100%;
}
.button-width-middle1{
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.area-height-20{
    width: 100%;
    height: 20px;
}

.area-height-10{
    width: 100%;
    height: 10px;
}

.top-left-radius{
    -webkit-border-top-left-radius: 4px;
}

.top-right-radius{
    -webkit-border-top-right-radius: 4px;
}

.bottom-left-radius{
    -webkit-border-bottom-left-radius: 4px;
}

.bottom-right-radius{
    -webkit-border-bottom-right-radius: 4px;
}

.reminder {
    width: 100%;
    background-color: #f7f4e7;
    border-top: 1px #cccccc solid;
    padding-top: 3px;
    padding-bottom: 3px;

    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.trade-detail-list{
    width: 100%;

    background-color: #ffffff;
    border-bottom: 1px #ebebeb solid;
    padding-top: 8px;
    padding-bottom: 8px;

    color: #333333;

    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.current a {
    font-size: 20px;
}

.over {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    opacity:0.1;
    z-index: 1000;
}

.layout {
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
    width: 70px;
    height: 70px;
    z-index: 1001;
    text-align:center;
    border-radius: 5px;
    background: url("../images/common/background-70.png");
}

.layout div{
    margin-top: 10px;
}

.loading-img{
    margin-left: 20px;
    width: 30px;
    height: 30px;
    -webkit-transform:rotate(0deg) translateZ(0);
    -webkit-transition-duration:0ms;

    -webkit-animation-name:loading;
    -webkit-animation-duration:0.7s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
    from { -webkit-transform:rotate(0deg) translateZ(0); }
    to { -webkit-transform:rotate(360deg) translateZ(0); }
}
/* add sunchanghong 20160504 begin */
.chk-area{
    background-color: #ffffff;
    border-top: 1px #cccccc solid;
    border-bottom: 1px #cccccc solid;
    height:140px;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	margin-top:10px;
	margin-bottom:10px;
}
.reg-list{
    width: 100%;
    background-color: #ffffff;
    border-top: 1px #cccccc solid;
    border-bottom: 1px #cccccc solid;
    height: 50px;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}
.chk-msg{
	width: 80%;
	margin-left: 20%;
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
}

.chk-area .chkbox{
	margin-top:10px;
	margin-left:5px;
    display:-webkit-box;
    -webkit-box-align:center;
}

.chk-box{
	margin-top:10px;
	width:90%;
	margin-left:10%;
}
.chk-note{
	width: 80%;
	margin-left: 10%;
	text-align: center;
	/* display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center; */
}
.dashline{
	width:80%;
	margin-left:10%;
	border-bottom:1px #cccccc dashed;
}
.round{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 4px 3px 2px;
}

.dot{
	width:80%;
	margin-left:10%;
	border-bottom:1px #cccccc dotted;
}
.line{
	width:80%;
	margin-left:10%;
	margin-top:10px;
	border-bottom:1px #cccccc solid;
}
.reg-phone{
    width: 90%;
	margin-left:5%;
	height: 50px;
    display:-webkit-box;
    -webkit-box-align:center;
    border-radius:5px;
}
.chkbox .left{
	width:100px;
}
.reg-txt{
	margin-left: 10%;
    text-align:center;
}

/* add sunchanghong 20160504 end */

.go_home {
    position: fixed;
    right: .75rem;
    bottom: 1.25rem;
    display: block;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: #000;
    font-size: .75rem;
    background: #fff;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    z-index: 200;
}