body {
    background-color: #f6f6f6;
}

.container {
    padding: 0 0.75rem /* 30/40 */;
}

.title {
    padding: 0 0.75rem  /* 30/40 */;
    height: 1.75rem /* 70/40 */;
    line-height: 1.75rem /* 70/40 */;
    font-size: 0.6rem /* 24/40 */;
    color: #666;
}

.title .red {
    margin: 0 .4rem;
    color: #fb5c5f;
}

.title>a {
    float: right;
}

#changeCard {
    display: none;
}

.input-name {
    display: flex;
    height: 2.5rem /* 100/40 */;
    background-color: #fff;
    line-height: 2.5rem /* 100/40 */;
    color: #666;
    font-size: 0.75rem /* 30/40 */;
    padding: 0 0.75rem /* 30/40 */;
    margin-bottom: 0.5rem /* 20/40 */;
}

.input-name .name-label {
    width: 3rem /* 120/40 */;
}

.input-name .name-input {
    flex: 1;
    padding-left: 1.375rem /* 55/40 */;
}

.input-name .name-input > input {
    width: 100%;
    height: 1.5rem /* 40/40 */;
    padding: 0;
    color: #000;
    font-size: 0.75rem /* 30/40 */;
}

.id-info {
    padding: 0 0.75rem /* 30/40 */;
    background-color: #fff;
    font-size: 0.75rem /* 30/40 */;
    line-height: 2.5rem /* 100/40 */;
}

.id-info .input-block {
    display: flex;
    color: #666;
    height: 2.5rem /* 100/40 */;
    border-bottom: 0.025rem /* 1/40 */ solid #eee;
}

.id-info .input-block .name-label {
    width: 3rem;
}

.id-info .input-block .name-input {
    flex: 1;
    padding-left: 1.375rem /* 55/40 */;
}

.id-info .input-block .name-input > span {
    color: #000;
    font-size: 0.75rem /* 30/40 */;
}

.id-info .input-block .name-input > input {
    width: 100%;
    height: 1.5rem /* 40/40 */;
    padding: 0;
    color: #000;
    font-size: 0.75rem /* 30/40 */;
}

.id-info .input-block .arrow {
    width: 0.4rem /* 16/40 */;
    vertical-align: middle;
}

.id-info .input-block .arrow > img {
    display: inline;
    width: 0.4rem /* 16/40 */;
    height: 0.75rem /* 30/40 */;
}

.next-btn {
    height: 2.25rem /* 90/40 */;
    line-height: 2.25rem /* 90/40 */;
    text-align: center;
    background-color: #ffd9b3;
    color: #fff;
    margin: 1.25rem 0.75rem 0 .75rem /* 30/40 */;
    font-size: 0.85rem /* 34/40 */;
    border-radius: 0.075rem /* 3/40 */;
}

.next-btn.active {
    background-color: #fe7e01;
}

#change {
    display: none;
    margin-top: .8rem;
    padding: 0 0.75rem /* 30/40 */;
    font-size: .7rem;
    text-align: right;
}