<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>存入零花钱</title>
    <!-- <link rel="stylesheet" href="css/base.css"> -->
    <link rel="stylesheet" href="../base/css/base.css">
    <link rel="stylesheet" href="css/pocketMoneyPush.css">
    <script>
        // 相对字体大小设置
        var oHtml = document.documentElement;
        getFont();
        window.onresize = function () {
            getFont();
        }

        function getFont() {
            var screenWidth = oHtml.clientWidth;
            if (screenWidth <= 320) {
                oHtml.style.fontSize = '17.06px';
            } else if (screenWidth >= 750) {
                oHtml.style.fontSize = '40px';
            } else {
                oHtml.style.fontSize = screenWidth / (750 / 40) + 'px';
            }
        }
    </script>
</head>

<body>
<div id="app" v-cloak>
    <div class="main">
        <div class="for-whom" @click='forWhom()'>
            <div class="for-title">为谁投资</div>
            <div class="for-name"><span v-text="forName"></span><img src="img/arr.png" alt=""></div>
        </div>
        <div class="fgx"></div>
        <div class="this-children" @click="showLayer()">
            <div class="this-title">这是孩子的</div>
            <div class="this-type"><span v-text="planTypeName"></span><img src="img/arr.png" alt=""></div>
        </div>

        <!-- 选择已有账户浮层 -->
        <!--  <div class="layer animated slideInDown" style="z-index:100;" v-if="showAccount" @click="closeAccount()">
             <div class="account">
                 <div class="account-title">已有账户</div>
                 <div class="account-List" v-if="arAcctList.length>0" v-for="(item,index) in arAcctList" @click.stop="selectArAcct(index)">
                     <div class="account-name" v-text="item.arAcctName"></div>
                     <div><img src="img/arr.png" alt=""></div>
                 </div>
                 <div class="newAccount" @click.stop="selectArAcct('create')">
                   <div class="addAccount">+使用新账户</div>
                 </div>
             </div>
         </div> -->

        <div class="roll-enter">  <!--@click="ruleBtn()"-->
            <div class="roll-money">存入金额(元)</div>
            <!-- <div class="roll-rule">交易规则</div> -->
        </div>
        <div class="enter-amount">
            <div class="mark">￥</div>
            <div class="enter-money">
                <div class="turn-chinese"><img src="img/triangle.png"><span v-text="chinese"></span></div>
                <!-- <div class="input-number"><input type="number" v-model="inputValue"  :placeholder="groupInfo.initLimitAmount+'元起'"></div> -->
                <div class="input-number"><input type="number" v-model="inputValue" placeholder="请输入金额"></div>
            </div>
            <div class="close" @click="close"><img src="img/close.png"></div>
        </div>
        <div class="choose-money">
            <div class="two-thousand" v-for="(item,index) in amount" @click="changeMoney(index,item)"
                 :class="{active:(index===number&&inputValue)}"><span v-text="item.value"></span><span>元</span></div>
        </div>
        <!-- <div class="rate">年投顾服务费率：<s>{{groupInfo.investmentServicePerc}}%</s>
             <span class="rate-red">{{groupInfo.discountRate?groupInfo.discountRate:groupInfo.investmentServicePerc*0.01}}%</span>
         </div>  -->
        <div class="payment" @click="showCard=true">
            <div class="payment-title">支付方式</div>
            <div class="payment-mode">
                <div v-if="currentPayInfo">{{currentPayInfo.bankGrpName}}</div>
                <div class="balance" v-if="currentPayInfo">{{currentPayInfo.limitRemark}}</div>
            </div>
            <div class="payment-img"><img src="img/arr.png" alt=""></div>
        </div>

        <!-- 选择支付方式浮层 -->
        <div class="choose-pay animated slideInDown" style="z-index:100;" v-if="showCard" @click="showCard=false">
            <div class="bank-card">
                <div v-for="(item,index) in bankList" @click.stop="choosePay(index)">
                    <template v-if="item.cashFrom=='V'">
                        <div class="xjb">
                            <div class="xjb-img"><img src="img/xjb.png" alt=""></div>
                            <div class="xjb-title">
                                <div class="xjb-name" v-if="bankList">{{item.bankGrpName}}</div>
                                <div class="xjb-balance" v-if="bankList">{{item.limitRemark}}</div>
                            </div>
                        </div>
                    </template>
                    <template v-else>
                        <div class="card">
                            <div class="card-img"><img :src="'/mobileEC/images/bank/'+item.bankNo+'.png'" alt=""></div>
                            <div class="card-title">
                                <div class="card-name" v-if="bankList">{{item.bankGrpName}} [{{item.bankAccoDisplay}}]</div>
                                <div class="card-balance" v-if="bankList">{{item.limitRemark}}</div>
                            </div>
                            <div class="card-btn">
                                <div class="card-text" :class="signWayTransfer(item.signWay).class">
                                    {{signWayTransfer(item.signWay).text}}
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
        <div class="buy-btn" @click="pocketMoneyPush()">立即存入</div>
        <!-- <div class="notes">温馨提示：</div> -->
        <div class="notes-text">
            <!-- <p>1、存入存钱罐即为买入<span style="">汇添富现金宝货币A</span>(存取免费)到亲情账户中，现在存入预计11月18日开始产生收益，11月19日收益到账。</p>
            <p>2、完成存入代表您已阅读风险提示函、基金合同、招募说明书。</p>
            <p>3、您的风险承受能力为稳健型，您的风险承受能力等级与本产品相匹配。若您提供的信息发生任何重大变更，应当及时以书面方式通知我司。</p> -->
        </div>
    </div>
    <!-- 这是零花钱类型弹窗   -->
    <div class="layer">
        <div class="layer-wrap">
            <div class="layer-body">
                <div class="money-title">
                    <div @click="closeLayer()">取消</div>
                    <div>这是孩子的</div>
                    <div @click="confirmPocketType()">确认</div>
                </div>
                <div class="money-type" v-for="(item,index) in pocketTypeList" :key="index">
                    <div v-text="item.planTypeName"></div>
                    <div class="input" v-if="item.orderNum=='99'"><input type="text" placeholder="不超过六个字"
                                                                           maxlength="6" v-model="customName"></div>
                    <div class="checkRadio" :class="{radioActive:index===radioIndex}"
                         @click="checkRadio(index,item)"></div>
                    <!-- <div class="checkRadio" :class="{radioActive:index===radioIndex||item.planTypeName=='压岁钱'}"  @click="checkRadio(index)"></div> -->
                </div>
                <!--           <div class="money-type">
                            <div>压岁钱</div>
                            <div class="checkRadio"></div>
                          </div>
                          <div class="money-type">
                            <div>生日红包</div>
                            <div class="checkRadio"></div>
                          </div>
                          <div class="money-type">
                            <div>奖励红包</div>
                            <div class="checkRadio"></div>
                          </div> -->

                <!--  <div class="custom-title">
                   <div>自定义</div>
                   <div><input type="text" placeholder="不超过六个字" maxlength="6"></div>
                   <div class="customRadio" :class="{customActive:checkIndex==='0'}" @click="checkCustom('0')"></div>
                 </div> -->

            </div>
        </div>
    </div>
    <!--  <footer class="footer_fiexd" :class="{active:footerActvie}" @click="buy">
         <div>确认转入</div>
     </footer> -->
    <!-- <div class="mask-protocol" style="display: none;" v-show="protocolShow">
        <div class="protocol-wraper">
          <div class="protocol-pdf">
            
          </div>
          <p class="fixed-top">{{pdfInfo.agreementName}}</p>
            <button class="fixed-btn" disabled @click="pdfConfirm">我知道了{{pdfInfo.countDown}}s</button>
        </div>
    </div> -->

</div>
<script type="text/javascript" src="../base/js/lib/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../base/js/utils.js"></script>
<script type="text/javascript" src="../base/js/lib/vue.min.js"></script>
<!-- <script src="js/jquery-3.2.1.min.js"></script>
<script src="./js/utils.js"></script>
<script src="./js/vue.js"></script> -->
<!-- <script src="/tradeh5/newWap/base/js/lib/vue.min.js"></script> -->
<!-- <script src="./js/pdf.js"></script> -->
<script src="./js/pocketMoneyPush.js"></script>

</body>

</html>
