body{
    background-color: #ffffff;
}
.top-bar .left{
    width: 33%;
    text-align: left;
}
.top-bar .mid {
    text-align:center;
}
.top-bar .right{
    width: 33%;
    text-align: right;
}
.item{
    height: 94px;
    width: 85%;
    margin-left: 2%;
    display:-webkit-box;
}
.item .title{
    margin-left: 10px;
}
.item .content{
    margin-left: 10px;
    line-height: 13px;
}
.item .leftbox{
    margin-top: 10px;
    width: 75%;
}
.rightbox{
    width: 24%;
}
.fund_list .line{
    width: 94%;
    text-align: center;
    border-bottom: 1px #d7d7d7 solid;
    margin: 5px 0 5px 5px;
}
.f-green{
    color: green;
}
.content > span{
    padding-left: 3px;
}
.content {
    padding-top: 7px;
}
.banner {
    display:-webkit-box;
}
.banner-left{
    margin-top: 30px;
    width: 53%;

}
.banner-right{
    width: 37%;
    margin-top:30px;
}
.banner-box{
    width: 5%;
}
.inner-left{
    margin-left: 15px;
    border-right: 1px #ffffff solid;
}
.btm_bar {
    text-align: right;
    padding-right: 10px;
}
/**
 * Created by sun on 15-03-18.
 */