@charset "utf-8";

/* 禁用iPhone中Safari的字号自动调整,如横屏时会重新计算 */
html {  -webkit-text-size-adjust: 100%;  -ms-text-size-adjust: 100%;  }
input{  border: none;  outline-style: none;  }
/* 去除iPhone中默认的input样式 */
input[type="submit"], input[type="reset"], input[type="button"], input {  -webkit-appearance: none;  resize: none;  }
/* 取消链接高亮  */
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  }
/* 设置HTML5元素为块 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {  display: block;  }
/* 图片自适应 */
img {  width: 100%;  height: auto;  width: auto\9; /* ie8 */  -ms-interpolation-mode: bicubic;/*为了照顾ie图片缩放失真*/  border: none;  }
/* 初始化 */
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {  margin: 0;  padding: 0;  border: none;  }
body {  font: 14px 'Microsoft YaHei', Tahoma, Arial, sans-serif;  color: #666666;  background-color: #f6f6f6;  max-width: 750px;  margin: 0 auto;  }
em, i {  font-style: normal;  }
.clearfix:after {  content: "";  display: block;  visibility: hidden;  height: 0;  clear: both;  }
.clearfix {  zoom: 1;  }
a {  text-decoration: none;  color: inherit;  }
a:hover {  text-decoration: none;  }
ul, ol {  list-style: none;  }
h1, h2, h3, h4, h5, h6 {  font-size: 100%;  font-weight: normal;  }
.fl{float: left;}
.fr{float: right;}
select:focus{outline: none;}
/*公共样式*/
/*字体颜色*/
.color-blue{
    color: #148ce6;
}

.grid-list{
    width: 100%;
    height: 3.25rem;
    background-color: #fff;
}


/*段落提示样式*/
.section-tips{
    color: #666;
    font-size: 0.6rem;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
}

/*input样式*/
.input-list{
    width: 100%;
    height: 2.5rem;
    background-color: #fff;
}
/*label样式*/
.label-style{
    width: 3.875rem;
    height: 2.5rem;
    line-height: 2.5rem;
    margin-left: 0.75rem;
    font-size: 0.7rem;
    color: #000;
}



/*input下划线*/
.bottom-border{
    border-bottom: solid 1px #eeeeee;
}



.grid-list .flex{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;
    -webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;
    -webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;
    -webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;
}
.grid-list .flex p{line-height: 2.5rem;font-size: .75rem;color:#000;margin-right: .75rem;}
.grid-list .flex input{font-size: .75rem;}
.margin-r75{margin-right: .75rem;}
.grid-list .iconi{padding:0 0 0 .25rem !important;margin: -2px -6px 0 0 !important;
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    vertical-align: middle;
    }
.grid-list li{border-bottom: 1px #efefef solid;}
.grid-list li:last-child{border:none;}



/* 底部按钮 */
.footer_fiexd{position:fixed;left: 0;bottom: 0;height:2.5rem;width:100%;background: #fff;}
.footer_fiexd ul{display: flex;}
.footer_fiexd ul li{flex: 1;height:2.5rem;background:#fe7e01 ;}
/* .footer_fiexd ul li:nth-of-type(1){	} */
.footer_fiexd ul li{border-left:1px #fff solid;}
.footer_fiexd ul li:nth-of-type(1){background: #fff;}
.footer_fiexd ul li a{display:block;width:100%;height: 100%;line-height: 2.5rem;text-align: center;color:#fff;font-size: .8rem;}
.footer_fiexd ul li:first-child a{color: #fe7e01; border-top: 1px #eee solid;}
.footer_fiexd ul li a:first-child img{width: 0.7rem;height: 0.7rem;padding-right: 0.2rem;padding-top: 0.2rem;}

i.bank{ height:30px;background: url(../../images/bank_logos.png) no-repeat left center; width:30px; vertical-align:middle; margin-right: 17px;display: inline-block;}
i.bank.ico_002{ background-position:-33px -3px;}
i.bank.ico_2{ background-position:2px -4px;}
i.bank.ico_102{ background-position:2px -4px;}
i.bank.ico_202{ background-position:2px -4px;}
i.bank.ico_802{ background-position:2px -4px;}

i.bank.ico_104{ background-position:-31px -4px;}
i.bank.ico_604{ background-position:-31px -4px;}


i.bank.ico_005{ background-position:-68px -4px;}
i.bank.ico_605{ background-position:-68px -4px;}

i.bank.ico_705{ background-position:-68px -4px;}

i.bank.ico_006{ background-position:-105px -4px;}
i.bank.ico_106{ background-position:-105px -4px;}
i.bank.ico_806{ background-position:-105px -4px;}

i.bank.ico_007{ background-position:2px -41px;}
i.bank.ico_707{ background-position:2px -41px;}
i.bank.ico_Y07{ background-position:2px -41px;}
i.bank.ico_607{ background-position:2px -41px;}
i.bank.ico_008{ background-position:-31px -41px;}
i.bank.ico_108{ background-position:-31px -41px;}
i.bank.ico_608{ background-position:-31px -41px;}
i.bank.ico_808{ background-position:-31px -41px;}
i.bank.ico_009{ background-position:-68px -41px;}
i.bank.ico_109{ background-position:-68px -41px;}
i.bank.ico_609{ background-position:-68px -41px;}
i.bank.ico8{ background-position:-105px -41px;}
i.bank.ico_019{ background-position:4px -75px;}
i.bank.ico_619{ background-position:4px -75px;}
i.bank.ico_819{ background-position:4px -75px;}
i.bank.ico10{ background-position:-31px -75px;}
i.bank.ico_103{ background-position:-68px -75px;}
i.bank.ico_613,
i.bank.ico_813{ background-position:-68px -75px;}
i.bank.ico_014{ background-position:-105px -75px;}
i.bank.ico_614{ background-position:-105px -75px;}
i.bank.ico_814{ background-position:-105px -75px;}
i.bank.ico_011{ background-position:3px -108px;}
i.bank.ico_112{ background-position:-31px -108px;}
i.bank.ico_012{ background-position:-31px -108px;}
i.bank.ico_812{ background-position:-31px -108px;}
i.bank.ico_018{ background-position:-68px -108px;}
i.bank.ico_618{ background-position:-68px -108px;}
i.bank.ico16{ background-position:-105px -108px;}
i.bank.ico_015{ background-position:2px -141px;}
i.bank.ico_815{ background-position:2px -141px;}
i.bank.ico18{ background-position:-31px -143px;}
i.bank.ico19{ background-position:-68px -141px;}
i.bank.ico20{ background-position:-105px -141px;}
i.bank.ico21{ background-position:2px -177px;}
i.bank.ico22{ background-position:-31px -177px;}
i.bank.ico23{ background-position:-68px -177px;}
i.bank.ico24{ background-position:-105px -177px;}
i.bank.ico25{ background-position:2px -206px;}
i.bank.ico26{ background-position:-31px -203px;}
i.bank.ico27{ background-position:-68px -206px;}
i.bank.ico28{ background-position:-105px -207px;}
i.bank.ico29{ background-position:2px -238px;}
i.bank.ico30{ background-position:-33px -235px;}
i.bank.ico31{ background-position:-68px -235px;}
i.bank.ico32{ background-position:-105px -236px;}
i.bank.ico33{ background-position:3px -268px;}
i.bank.ico34{ background-position:-34px -267px;}
i.bank.ico35{ background-position:-68px -267px;}
i.bank.ico36{ background-position:-105px -267px;}
i.bank.ico37{ background-position:5px -299px;}
i.bank.ico_003{ background-position:-33px -299px;}
i.bank.ico_603{ background-position:-33px -299px;}
i.bank.ico_803{ background-position:-33px -299px;}
i.bank.ico_110{ background-position:-67px -299px;}
i.bank.ico_101{ background-position:-106px -299px;}
i.bank.ico_107{ background-position:5px -336px;}
i.bank.ico_013{ background-position:-32px -336px;}
i.bank.ico_621{ background-position:-104px -336px;}
i.bank.ico_617{ background-position:-32px -142px;}
i.bank.icons{ background-position:-66px -336px;}
i.bank.ico_619{ background-position:-4px -140px;}
i.bank.ico_620{ background-position:-33px -40px;}
i.bank.ico_621{ background-position:-35px -299px;}