@charset "utf-8";
html {
	height: 100%; 
	width: 100%; 
	font-family: 'Heiti SC', 'Microsoft YaHei';/*font-size: 20px;*/ 
	font-size:62.5%; 
	overflow-x:hidden;
	outline: 0;
	-webkit-text-size-adjust:none; 
	position:relative; 
}
body { 
	height: 100%; 
	margin: 0;
	-webkit-user-select: none;
	position: relative;
	overflow:visible;
	background-color:#fff;
}
a,a:hover{ text-decoration:none;}
.container{
	position:relative;
	font-family: 'Microsoft Yahei';
}
.banner{
	position:relative;
	width:100%;
}
.banner img{
	width:100%;
}
.lg-app{
	width:100%;
	height:3rem;
	background:#1683bf;
	font-size:1.2rem;
	line-height:3rem;
}
.lg-app p{
	background:#1683bf;
	font-size:1.2rem;
	line-height:3rem;
	color:#fff;
	padding:0 0 0 1rem;
}
.btns{
	height:3rem;
	padding:2rem 0.8rem;
}
.btns a{
	display:inline-block;
	height:3rem;
	width:37%;
	border-radius:3px;
	-webkit-border-radius:3px;
}
.btns a.reg-buybtn{
	float:left;
	background:#fe9d05;
	padding-left:2.8rem;
}
.btns a.reg-buybtn i{
	padding-left:2.1rem;
	background:url(../images/btn-ico1.png) no-repeat 0 0.7rem;
	background-size:1.4rem 1.6rem;
}
.btns a i{
	display:inline-block;
	font-size:1.5rem;
	line-height:3rem;
	color:#fff;
}
.btns a.downloadbtn{
	float:right;
	background:#70c6ff;
	padding-left:3rem;
}
.btns a.downloadbtn i{
	padding-left:2.4rem;
	background:url(../images/btn-ico2.png) no-repeat 0 0.8rem;
	background-size:1.5rem 1.5rem;
}

.performance{ padding-bottom:1.5rem;}
.title{
	height:2.5rem;
	margin:0 0.8rem;
	background:#ff0303;
	border-radius:3px;
	-webkit-border-radius:3px;
	font-size:1.5rem;
	line-height:2.5rem;
	color:#fff;
	text-align:center;
	font-weight:normal;
	margin-bottom:30px;
}
.title-ico{
	font-size:1.5rem;
	line-height:1.9rem;
	color:#ff0000;
	font-weight:normal;
	padding-left:2.3rem;
	margin-left:0.9rem;
}
.t-ico01{
	background:url(../images/t-ico01.png) no-repeat; 
	background-size:1.7rem 1.6rem;
}
.t-ico02{ 
	background:url(../images/t-ico02.png) no-repeat 0 0.2rem;
	background-size:1.5rem 1.4rem;
}
.t-ico03{
	background:url(../images/t-ico03.png) no-repeat;
	background-size:1.5rem 1.8rem;
}
.t-ico04{
	background:url(../images/t-ico06.png) no-repeat 0 -0.1rem;
	background-size:1.6rem 1.9rem;
}
.t-ico05{
	background:url(../images/t-ico04.png) no-repeat;
	background-size:1.3rem 1.7rem;
}
.t-ico06{
	background:url(../images/t-ico05.png) no-repeat;
	background-size:1.7rem 1.7rem;
}
.performance div{
	padding:1.4rem 0.9rem 1rem;
}
.performance p{
	font-size:1.2rem;
	line-height:1.8rem;
	color:#323232;
	font-weight:lighter;
	text-indent:2em;
}
.performance p b{
	color:#ff0000;
}
.performance img{
	width:100%;
}
.authority-infor{
	padding:0.5rem 0 0 3rem;	
}
.authority-infor h2{
	font-size:1.2rem;
	line-height:1.6rem;
	color:#ff0000;
	font-weight:normal;
	padding:1rem 0.4rem 1.4rem 0.2rem;
}
.authority-conment{
	width:100%;
}
.authority-conment li{
	padding-bottom:1.5rem;
}
.authority-conment li span{
	display:block;
	float:left;
	width:4.7rem;
	height:2rem;
	background:url(../images/cup-inforico.jpg) no-repeat;
	background-size:6.7rem 3.3rem;
	font-size:0.8rem;
	line-height:1.6rem;
	color:#673d0a;
	font-weight:bold;
	padding:1rem 0 1rem 2rem;
	margin-right:1rem;
}
.authority-conment li em{
	display:block;
	padding:0.3rem 0 0 0rem;
	font-size:1rem;
	line-height:1.6rem;
	color:#673d0a;
}
.authority-conment li em b{
	font-size:1.1rem;
	color:#ff0000;
}
.authority-conment li p{
	font-size:1.0rem;
	line-height:1.4rem;
	color:#7d7d7d;
	font-weight:lighter;
}
.team-work{
	padding:0 0 1rem 0;
}
.excellence{
	padding:1.5rem 2.4rem 0;
}
.excellence p{
	font-size:1.2rem;
	line-height:2rem;
	color:#323232;
	font-weight:lighter;
	padding:0 0 0.6rem 0;
}
.excellence i.ico-1{
	display:block;
	float:left;
	width:4.3rem;
	height:4.3rem;
	background:url(../images/team-ico1.png) no-repeat;
	background-size:4.3rem 4.3rem;
	margin:1rem 1.2rem 0 0;
}
.excellence i.ico-2{
	display:block;
	float:right;
	width:3.4rem;
	height:5.2rem;
	background:url(../images/team-ico2.png) no-repeat;
	background-size:3.4rem 5.2rem;
	margin:0.3rem 0 0 2rem;
}
.excellence i.ico-3{
	display:block;
	float:left;
	width:2.6rem;
	height:4.2rem;
	background:url(../images/team-ico3.png) no-repeat;
	background-size:2.6rem 4.2rem;
	margin:1rem 2rem 0 0;
}
.excellence p b{
	font-weight:bold;
	color:#e7141a;
}
.golden-age{
	position:relative;
}
.golden-age h2.title{
	margin-bottom:1.4rem;
}
.golden-age img.imgbg{
	width:100%;
}
.golden-infor{
	width:100%;
	position:absolute;
	top:3.8rem;
	left:0;
}
.golden-infor h3{
	margin-bottom:1.4rem;
}
.golden-infor p img{
	width:6.2rem;
	height:3rem;
	display:block;
	float:left;
	padding:0 0.7rem 0 0;
}
.golden-infor p{
	padding:0 0 0 2rem;
	font-size:1.2rem;
	line-height:1.5rem;
	color:#323232;
	font-weight:lighter;
}
.golden-infor p b{
	font-weight:bold;
	color:#e7141a;
}
.golden-infor p em{
	display:inline-block;
	padding:15px 0 0;
	font-size:1rem;
	line-height:1.6rem;
	color:#7d7d7d;
	font-weight:lighter;
}
.entrepreneurs{
	padding:1.6rem 0 1.2rem 0;
}
.entrepreneurs h3{
	margin-bottom:1rem;
}
.entrepreneurs p{
	padding:0 0.8rem;
	font-size:1.2rem;
	line-height:2rem;
	color:#323232;
	text-indent:2em;
	font-weight:lighter;
}
.entrepreneurs img{
	width:100%;
	margin-top:0.5rem;
}
.private {
	padding:0 0 0.5rem 0;
}
.private h3{
	margin-bottom:1rem;
}
.private img{
	width:100%;
	margin-top:1.2rem;
}
.private-infor{
	padding:0 0.8rem;
}
.private-infor p{
	font-size:1.2rem;
	line-height:2rem;
	color:#323232;
	text-indent:2em;
	font-weight:lighter;
}
.private-infor em{
	display:inline-block;
	margin-left:2em;
	font-size:1.2rem;
	line-height:2rem;
	color:#323232;
	font-weight:lighter;
}
.private-infor em i{
	display:inline-block;
	width:0.8rem;
	height:0.8rem;
	margin-right:0.5rem;
	border-radius:100px;
	-webkit-border-radius:100px;
}
.private-infor em i.color-ico01{
	background:#4b78ff;
}
.private-infor em i.color-ico02{
	background:#ff0000;
}
.private-infor em i.color-ico03{
	background:#ffbb50;
}
.private span{
	display:block;
	font-size:14px;
	line-height:42px;
	color:#7d7d7d;
	font-weight:lighter;
	text-align:right;
	padding-right:32px;
}
.banimg img{
	width:100%;
}
.explain{
	padding:1rem 0.8rem 3.5rem;
}
.explain p{
	font-size:1.1rem;
	line-height:1.6rem;
	color:#2c2c2c;
	font-weight:lighter;
}