.font-arial {
	font-family: Arial;
	/* margin-left: .4rem; */
	color: #666666;
}
section {
	background-color: #fff;
	overflow: hidden;
}
.left {
	float: left;
}
.right {
	float: right;
}
.next {
	/* display: inline-block;
    width: 8px;
    height: 16px;
    background: url(img/icon01.png) no-repeat left top;
    -webkit-background-size: contain;
    background-size: contain;
    vertical-align: middle;
    margin-left: 7px; */
}
.red {
	color: #f4333c;
}
.red {
	color: #f4333c;
}
.green {
	color: #009944;
}

.text-r {
	text-align: right;
}
.text-l {
	text-align: left;
}
.percent30 {
	width: 30%;
}
.percent20 {
	width: 20%;
}
.percent50 {
	width: 50%;
}
.question-icon {
	margin-right: 0.1rem;
	display: inline-block;
	vertical-align: middle;
	width: 0.75rem;
	height: 0.75rem;
	background: url("../../images/fundgroup/question.png") no-repeat;
	background-size: 100% 100%;
}
.content1 {
	background: #fff;
}
.content1 .header {
	padding: 1.5rem 0 1.5rem 0;
	text-align: center;
}
.content1 .header h4 {
	font-size: 0.75rem;
	font-weight: normal;
	line-height: 0.75rem;
	color: #666666;
	margin-bottom: 0.75rem;
}
.content1 .header .figure1 {
	font-size: 1.5rem;
	line-height: 1.5rem;
}
.content1 .nav {
	padding: 0 0.75rem 1.25rem 0.75rem;
	display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
	display: -moz-box; /* Firefox 17- */
	display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
	display: -moz-flex; /* Firefox 18+ */
	display: -ms-flexbox; /* IE 10 */
	display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
	background: url("../../images/fundgroup/arrows-top.png") no-repeat;
	background-size: 1rem 0.5rem;
	background-position: center bottom;
}
.content1 .nav .navlite {
	display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
	display: -moz-box; /* Firefox 17- */
	display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
	display: -moz-flex; /* Firefox 18+ */
	display: -ms-flexbox; /* IE 10 */
	display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
}
.content1 .nav .navlite p {
	line-height: 0.75rem;
	font-size: 0.65rem;
	color: #666;
	margin-bottom: 0.5rem;
	text-align: center;
}
.content1 .nav .navlite p span,
.content1 .nav .navlite p i {
	display: inline-block;
	vertical-align: middle;
}
/* .content1 .nav .navlite p span {
	margin-right: 0.375rem;
} */
.content1 .nav .navlite p i {
	width: 0.75rem;
	height: 0.75rem;
	background: url("../../images/fundgroup/warningIcon.png") no-repeat;
	background-size: 100% 100%;
}
.content1 .nav .navlite .figure {
	font-size: 1rem;
	line-height: 1rem;
	text-align: center;
}
/*nav1*/
.content1 .nav1 {
	display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
	display: -moz-box; /* Firefox 17- */
	display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
	display: -moz-flex; /* Firefox 18+ */
	display: -ms-flexbox; /* IE 10 */
	display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
	padding: 0.75rem 0.75rem 0.5rem 0.75rem;
	background: #f7fcff;
}
.content1 .nav1 .navlite {
	display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
	display: -moz-box; /* Firefox 17- */
	display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
	display: -moz-flex; /* Firefox 18+ */
	display: -ms-flexbox; /* IE 10 */
	display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
}
.content1 .nav1 .navlite p {
	line-height: 0.75rem;
	font-size: 0.6rem;
	color: #666;
	margin-bottom: 0.25rem;
	text-align: center;
}
.content1 .nav1 .navlite p span,
.content1 .nav1 .navlite p i {
	display: inline-block;
	vertical-align: middle;
}
/* .content1 .nav1 .navlite p span {
	margin-right: 0.375rem;
} */
.content1 .nav1 .navlite p i {
	width: 0.75rem;
	height: 0.75rem;
	background: url("../../images/fundgroup/warningIcon.png") no-repeat;
	background-size: 100% 100%;
}
.content1 .nav1 .navlite .figure {
	font-size: 0.6rem;
	line-height: 0.6rem;
	text-align: center;
}
.content2 {
	height: 300px;
}
.content2 h3 {
	color: #333333;
	line-height: 35px;
	padding-left: 15px;
	background-color: #f6f6f6;
}
.content2 .title1 {
	height: 1.75rem;
	line-height: 1.75rem;
	padding: 0 0.75rem;
	background: #f6f6f6;
}
.content2 ul {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
.content2 ul li {
	width: 50%;
	font-size: 12px;
	text-align: center;
}
/*.content2 ul li:first-child{ float: left; }*/
/*.content2 ul li:last-child{ float: right; }*/
.content2 ul li a {
	color: #000;
	display: block;
	width: 100%;
	height: 1.5rem;
	line-height: 1.5rem;
	float: left;
	text-align: center;
	font-size: 0.7rem;
}

.content2 ul.tab2 {
	width: 100%;
	margin: 0 auto;
	margin-top: .1rem;
}
.content2 ul.tab2 li {
	width: 20%;
	float: left;
}
.content2 ul.tab2 li a {
	width: 100%;
	background-color: #fff;
	margin-left: 0%;
	color: #148ce6;
	border: 1px #148ce6 solid;
	box-sizing: border-box;
}
.content2 ul.tab2 li:first-child a {
	border-radius: 3px 0 0 3px;
	border-right: none;
}
.content2 ul.tab2 li:nth-child(2) a {
	border-right: none;
}
.content2 ul.tab2 li:nth-child(3) a {
	border-right: none;
}
.content2 ul.tab2 li:last-child a {
	border-radius: 0 3px 3px 0;
	border-left: none;
}
.content2 ul.tab2 li.active a {
	background-color: #148ce6;
	color: #ffffff;
}
.content4 {
	margin-top: 0.5rem;
	padding-left: 0.75rem;
}
.content4 table {
	width: 100%;
	border-collapse: collapse;
	font-size: 0.75rem;
}
.content4 table tr {
	height: 2.5rem;
	border-bottom: 1px #eee solid;
	color: #000;
}
.content4 table tr td img {
	width: 0.4rem;
	height: 0.75rem;
	position: relative;
	top: 2px;
	margin-left: 0.5rem;
}
.content4 table tr td:nth-of-type(1) {
	color: #000;
}
.content4 table tr td:nth-of-type(2) {
	text-align: right;
	padding-right: 0.75rem;
}
.content5 {
	margin-bottom: 3rem;
}
.content5 .title1 {
	padding: 0 0.75rem;
	height: 1.75rem;
	overflow: hidden;
	background: #f6f6f6;
}
.content5 .title1 p {
	line-height: 1.75rem;
	font-size: 0.7rem;
}
.content5 .title1 .right span {
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.45rem;
}
.content5 .content5_title {
	padding: 0 0.75rem;
	overflow: hidden;
	height: 2rem;
	border-bottom: 1px #eee solid;
}
.content5 .content5_title p {
	line-height: 2rem;
	font-size: 0.7rem;
	color: #000;
}
.content5_list {
	padding-left: 0.75rem;
}
.content5_list .list {
	display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
	display: -moz-box; /* Firefox 17- */
	display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
	display: -moz-flex; /* Firefox 18+ */
	display: -ms-flexbox; /* IE 10 */
	display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
	padding-right: 0.75rem;
	padding-top: 0.375rem;
	padding-bottom: 0.375rem;
	border-bottom: #eeeeee 1px solid;
}
.content5_list .list .text {
	/*	height: 1.75rem;*/
}
.content5_list .list .text1 {
	display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
	display: -moz-box; /* Firefox 17- */
	display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
	display: -moz-flex; /* Firefox 18+ */
	display: -ms-flexbox; /* IE 10 */
	display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
}
.content5_list .list .text1 p {
	/* width: 5.5rem; */
	word-wrap: break-word;
	word-break: break-all;
	/* margin-right: 0.25rem; */
	font-size: 0.65rem;
	color: #000;
	line-height: 0.875rem;
}
/* .content5_list .list .text1 span{
    font-size: 0.6rem;
    padding-top: 0.15rem;
} */
.content5_list .list .text2 {
	line-height: 1.75rem;
	font-size: 0.7rem;
	color: #000;
}
.content5_list .list .text3 {
	color: #000;
	line-height: 0.875rem;
}
.content5_list .list .text3 span:nth-of-type(1) {
	font-size: 0.75rem;
}
.content5_list .list .text3 span:nth-of-type(2) {
	font-size: 0.55rem;
}
.content5_footer a {
	display: block;
	height: 2rem;
	line-height: 2rem;
	color: #148ce6;
	font-size: 0.7rem;
	text-align: center;
}

.footer {
	width: 100%;
	padding: 0.2rem 0 2.75rem 0;
	background: #f6f6f6;
}
.footer p {
	height: 1rem;
	line-height: 1rem;
	width: 78%;
	margin-left: 11%;
	font-size: 0.6rem;
	color: #fb5c5f;
	background: #fee5e5;
	border-radius: 0.5rem;
	text-align: center;
}
.footer_fiexd {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 2.5rem;
	width: 100%;
	background: #fe7e01;
}
.footer_fiexd ul {
	display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
	display: -moz-box; /* Firefox 17- */
	display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
	display: -moz-flex; /* Firefox 18+ */
	display: -ms-flexbox; /* IE 10 */
	display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
}
.footer_fiexd ul li {
	flex: 1;
	height: 2.5rem;
	background: #fe7e01;
	border-right: 1px rgba(255, 255, 255, 0.7) solid;
}
/* .footer_fiexd ul li:nth-of-type(1){	} */

.footer_fiexd ul li a {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 2.5rem;
	text-align: center;
	color: #fff;
	font-size: 0.8rem;
}

.tip,
.tip2 {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	height: 100%;
	width: 100%;
	overflow: auto;
	font-size: 0.6rem;
	z-index: 999;
}
.tip .tip_wrap,
.tip2 .tip_wrap {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	margin: 0;
	width: 80%;
	/*height:16rem;*/
	background: #fff;
	-webkit-border-radius: 5px;
}
.tip .tip_wrap .tip_content p,
.tip2 .tip_wrap .tip_content p {
	padding: 0 1.5rem 0 1.5rem;
	font-size: 0.7rem;
	margin-top: 0.7rem;
	line-height: 1rem;
	margin-bottom: 1rem;
	text-align: center;
	line-height: 3rem;
}
.tip .tip_wrap .tip_content,
.tip2 .tip_wrap .tip_content {
	border-bottom: 1px #eee solid;
}
.tip .tip_wrap .tip_btn ul li,
.tip2 .tip_wrap .tip_btn ul li {
	text-align: center;
	font-size: 0.75rem;
	color: #006bfe;
}
.tip .tip_wrap .tip_btn ul li a,
.tip2 .tip_wrap .tip_btn ul li a {
	display: block;
	text-align: center;
	font-size: 0.75rem;
	width: 100%;
	padding: 0.7rem 0;
}

.noData {
	position: absolute;
	top: 45%;
	right: 0;
	font-size: 0.24rem;
	width: 100%;
	text-align: center;
}

.layer {
	z-index: 9999999;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	height: 100%;
	width: 100%;
	overflow: auto;
}
.layer-wrap {
	margin: 40% 15% 5% 15%;
	background-color: #fff;
	border-radius: 8px;
}
.layer-body {
	padding: 7% 8% 7% 8%;
	text-align: center;
}
.layer-wrap .layer-body p {
	font-size: 14px;
	line-height: 21px;
	color: #666;
	display: inline-block;
	text-align: justify;
}
.layer-wrap .layer-body span {
	font-size: 16px;
	display: block;
	padding-top: 10px;
	color: #333;
	font-weight: 600;
}
.layer-wrap button {
	font-size: 16px;
	color: #148ce6;
	background-color: #fff;
	border-top: solid 1px #eeeeee;
	width: 90%;
	height: 45px;
	display: block;
	margin: 0 auto;
}
.layer-wrap button:focus {
	outline: none;
}
.content5_list .flexBox {
	display: flex;
	justify-content:space-between;
	flex-direction:column;
	flex-wrap:nowrap;
}
.content5_list .deal{
	width: auto;
	background-color: #fee7e7;
	color: #fb5c5f;
	padding: 0 0.35rem;
	border-radius: 0.15rem;
	font-size: 0.5rem;
	display: inline-block;
	margin-left: .1rem;
}
.content5 .content5_list .fund_title{
	margin-right: .4rem;
	display: inline-block;
	width: 6.5rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.tip3 .tip_wrap .tip_content div{
	color: #000;
	padding: 0 1.5rem 0 1.5rem;
	font-size: 0.7rem;
	margin-top: 0.9rem;
	line-height: 1rem;
	margin-bottom: 1rem;
	text-align: center;
	/* line-height: 3rem; */
}
.tip3 .tip_wrap .tip_content div span{
	display: block;
	text-align: left;
}
/* .green{

} */
