i.selectedBank{ height:24px;background: url(../images/bank_logos.png) no-repeat left center; width:24px; display: inline-block;}
i.selectedBank.ico_002{ background-position:-4px -8px;}
i.selectedBank.ico_2{ background-position:-4px -8px;}
i.selectedBank.ico_102{ background-position:-4px -8px;}
i.selectedBank.ico_202{ background-position:-4px -8px;}
i.selectedBank.ico_802{ background-position:-4px -8px;}
i.selectedBank.ico_104{ background-position:-36px -8px;}
i.selectedBank.ico_604{ background-position:-36px -8px;}
i.selectedBank.ico_005{ background-position:-73px -8px;}
i.selectedBank.ico_605{ background-position:-73px -8px;}
i.selectedBank.ico_705{ background-position:-73px -8px;}
i.selectedBank.ico_006{ background-position:-111px -8px;}
i.selectedBank.ico_106{ background-position:-111px -8px;}
i.selectedBank.ico_806{ background-position:-111px -8px;}
i.selectedBank.ico_007{ background-position:-4px -45px;}
i.selectedBank.ico_707{ background-position:-4px -45px;}
i.selectedBank.ico_Y07{ background-position:-4px -45px;}
i.selectedBank.ico_607{ background-position:-4px -45px;}
i.selectedBank.ico_008{ background-position:-37px -45px;}
i.selectedBank.ico_108{ background-position:-37px -45px;}
i.selectedBank.ico_608{ background-position:-37px -45px;}
i.selectedBank.ico_808{ background-position:-37px -45px;}
i.selectedBank.ico_009{ background-position:-74px -45px;}
i.selectedBank.ico_109{ background-position:-74px -45px;}
i.selectedBank.ico_609{ background-position:-74px -45px;}
i.selectedBank.ico8{ background-position:-111px -45px;}
i.selectedBank.ico_019{ background-position:-2px -79px;}
i.selectedBank.ico_619{ background-position:-2px -79px;}
i.selectedBank.ico_819{ background-position:-2px -79px;}
i.selectedBank.ico10{ background-position:-37px -79px;}
i.selectedBank.ico_103{ background-position:-74px -79px;}
i.selectedBank.ico_613,
i.selectedBank.ico_813{ background-position:-74px -79px;}
i.selectedBank.ico_014{ background-position:-111px -79px;}
i.selectedBank.ico_614{ background-position:-111px -79px;}
i.selectedBank.ico_814{ background-position:-111px -79px;}
i.selectedBank.ico_011{ background-position:-3px -112px;}
i.selectedBank.ico_112{ background-position:-37px -112px;}
i.selectedBank.ico_012{ background-position:-37px -112px;}
i.selectedBank.ico_812{ background-position:-37px -112px;}
i.selectedBank.ico_018{ background-position:-74px -112px;}
i.selectedBank.ico_618{ background-position:-74px -112px;}
i.selectedBank.ico16{ background-position:-111px -112px;}
i.selectedBank.ico_015{ background-position:-4px -145px;}
i.selectedBank.ico_815{ background-position:-4px -145px;}
i.selectedBank.ico18{ background-position:-37px -147px;}
i.selectedBank.ico19{ background-position:-74px -145px;}
i.selectedBank.ico20{ background-position:-111px -145px;}
i.selectedBank.ico21{ background-position:-4px -181px;}
i.selectedBank.ico22{ background-position:-37px -181px;}
i.selectedBank.ico23{ background-position:-74px -181px;}
i.selectedBank.ico24{ background-position:-105px -177px;}
i.selectedBank.ico25{ background-position:-4px -210px;}
i.selectedBank.ico26{ background-position:-37px -207px;}
i.selectedBank.ico27{ background-position:-74px -210px;}
i.selectedBank.ico28{ background-position:-111px -211px;}
i.selectedBank.ico29{ background-position:-4px -242px;}
i.selectedBank.ico30{ background-position:-39px -239px;}
i.selectedBank.ico31{ background-position:-74px -239px;}
i.selectedBank.ico32{ background-position:-111px -240px;}
i.selectedBank.ico33{ background-position:-3px -272px;}
i.selectedBank.ico34{ background-position:-40px -271px;}
i.selectedBank.ico35{ background-position:-74px -271px;}
i.selectedBank.ico36{ background-position:-105px -267px;}
i.selectedBank.ico37{ background-position:-1px -303px;}
i.selectedBank.ico_003{ background-position:-39px -303px;}
i.selectedBank.ico_603{ background-position:-39px -303px;}
i.selectedBank.ico_803{ background-position:-39px -303px;}
i.selectedBank.ico_110{ background-position:-73px -303px;}
i.selectedBank.ico_101{ background-position:-112px -303px;}
i.selectedBank.ico_107{ background-position:-1px -340px;}
i.selectedBank.ico_013{ background-position:-38px -340px;}
i.selectedBank.ico_621{ background-position:-110px -340px;}
i.selectedBank.ico_617{ background-position:-38px -146px;}
i.selectedBank.icons{ background-position:-72px -340px;}
i.bank{ height:30px;background: url(../images/bank_logos.png) no-repeat left center; width:30px; margin-right: 17px;display: inline-block;}
i.bank.ico_002{ background-position:2px -4px;}
i.bank.ico_2{ background-position:2px -4px;}
i.bank.ico_102{ background-position:2px -4px;}
i.bank.ico_202{ background-position:2px -4px;}
i.bank.ico_802{ background-position:2px -4px;}
i.bank.ico_104{ background-position:-31px -4px;}
i.bank.ico_604{ background-position:-31px -4px;}
i.bank.ico_005{ background-position:-68px -4px;}
i.bank.ico_605{ background-position:-68px -4px;}
i.bank.ico_705{ background-position:-68px -4px;}
i.bank.ico_006{ background-position:-105px -4px;}
i.bank.ico_106{ background-position:-105px -4px;}
i.bank.ico_806{ background-position:-105px -4px;}
i.bank.ico_007{ background-position:2px -41px;}
i.bank.ico_707{ background-position:2px -41px;}
i.bank.ico_Y07{ background-position:2px -41px;}
i.bank.ico_607{ background-position:2px -41px;}
i.bank.ico_008{ background-position:-31px -41px;}
i.bank.ico_108{ background-position:-31px -41px;}
i.bank.ico_608{ background-position:-31px -41px;}
i.bank.ico_808{ background-position:-31px -41px;}
i.bank.ico_009{ background-position:-68px -41px;}
i.bank.ico_109{ background-position:-68px -41px;}
i.bank.ico_609{ background-position:-68px -41px;}
i.bank.ico8{ background-position:-105px -41px;}
i.bank.ico_019{ background-position:4px -75px;}
i.bank.ico_619{ background-position:4px -75px;}
i.bank.ico_819{ background-position:4px -75px;}
i.bank.ico10{ background-position:-31px -75px;}
i.bank.ico_103{ background-position:-68px -75px;}
i.bank.ico_613,
i.bank.ico_813{ background-position:-68px -75px;}
i.bank.ico_014{ background-position:-105px -75px;}
i.bank.ico_614{ background-position:-105px -75px;}
i.bank.ico_814{ background-position:-105px -75px;}
i.bank.ico_011{ background-position:3px -108px;}
i.bank.ico_112{ background-position:-31px -108px;}
i.bank.ico_012{ background-position:-31px -108px;}
i.bank.ico_812{ background-position:-31px -108px;}
i.bank.ico_018{ background-position:-68px -108px;}
i.bank.ico_618{ background-position:-68px -108px;}
i.bank.ico16{ background-position:-105px -108px;}
i.bank.ico_015{ background-position:2px -141px;}
i.bank.ico_815{ background-position:2px -141px;}
i.bank.ico18{ background-position:-31px -143px;}
i.bank.ico19{ background-position:-68px -141px;}
i.bank.ico20{ background-position:-105px -141px;}
i.bank.ico21{ background-position:2px -177px;}
i.bank.ico22{ background-position:-31px -177px;}
i.bank.ico23{ background-position:-68px -177px;}
i.bank.ico24{ background-position:-105px -177px;}
i.bank.ico25{ background-position:2px -206px;}
i.bank.ico26{ background-position:-31px -203px;}
i.bank.ico27{ background-position:-68px -206px;}
i.bank.ico28{ background-position:-105px -207px;}
i.bank.ico29{ background-position:2px -238px;}
i.bank.ico30{ background-position:-33px -235px;}
i.bank.ico31{ background-position:-68px -235px;}
i.bank.ico32{ background-position:-105px -236px;}
i.bank.ico33{ background-position:3px -268px;}
i.bank.ico34{ background-position:-34px -267px;}
i.bank.ico35{ background-position:-68px -267px;}
i.bank.ico36{ background-position:-105px -267px;}
i.bank.ico37{ background-position:5px -299px;}
i.bank.ico_003{ background-position:-33px -299px;}
i.bank.ico_603{ background-position:-33px -299px;}
i.bank.ico_803{ background-position:-33px -299px;}
i.bank.ico_110{ background-position:-67px -299px;}
i.bank.ico_101{ background-position:-106px -299px;}
i.bank.ico_107{ background-position:5px -336px;}
i.bank.ico_013{ background-position:-32px -336px;}
i.bank.ico_621{ background-position:-104px -336px;}
i.bank.ico_617{ background-position:-32px -142px;}
i.bank.icons{ background-position:-66px -336px;}