.card-type{
    width: 100%;
    margin-top: 10px;

    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.card-type .button{
    width: 40%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.card-list2 .left{
    width: 85%;
    text-align: left;
    display:-webkit-box;
    -webkit-box-align:center;
}

.card-list2 .right {
    width: 10%;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.card-list2 .left .card-info{
    margin-left: 7px;
    line-height: 22px;
}

.card-list2 .option{
    width: 90%;
}

.card-body{
    width: 100%;
    /* padding-left: 5%;*/
}

.add-button{
    width: 90%;
    background-color: #ffffff;
    text-align: center;
    border-radius: 4px;
    border: 1px #cccccc solid;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
}


.alert-password-background {
    position: absolute;
    background-image: url(../images/common/background-70.png);
    margin: 0;
    width: 100%;
    height: 100%;
    max-width: 640px;

    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.alert-dialog{
    width: 240px;
    background-color: #ffffff;
    border-radius: 5px;
}

.alert-dialog .alert-title{
    width: 100%;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.alert-dialog .alert-subtitle{
    width: 90%;
    padding-bottom: 8px;
    margin-left: 5%;
}

.alert-dialog .alert-input {
    width: 88%;
    margin-left: 5%;
    border: 1px #ebebeb solid;
}

.alert-dialog .alert-button {
    width: 100%;
    margin-top: 9px;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.alert-dialog .alert-button .button-left{
    width: 50%;
    text-align: center;
    border-top: 1px #ebebeb solid;
    padding-top: 8px;
    padding-bottom: 8px;
}

.alert-dialog .alert-button .button-right{
    width: 50%;
    text-align: center;
    border-top: 1px #ebebeb solid;
    border-left: 1px #ebebeb solid;
    padding-top: 8px;
    padding-bottom: 8px;
    box-sizing:border-box;
}

.button-style{
    border: none;
    background: none;
    color: #2d6590;
    width: 90%;
    /*height: 100%;*/
}